
extends layout

block head
  link(rel='stylesheet', href='/contact.css')

block content
  .contact-header
    h1= message
    p Vous pouvez nous contacter via ce formulaire.

  .contact-form
    form(action='/submit-contact', method='POST')
      .form-group
        label(for='name') Nom
        input(type='text', id='name', name='name', required)

      .form-group
        label(for='email') Email
        input(type='email', id='email', name='email', required)

      .form-group
        label(for='subject') Sujet
        input(type='text', id='subject', name='subject', required)

      .form-group
        label(for='message') Message
        textarea(id='message', name='message', required)
        
      .form-group
        button(type='submit') Envoyer

  footer
    p © 2024 Notre Entreprise. Tous droits réservés.
