extends layout

block content
  // Banner Section
  .banner
    h1 Bienvenue sur notre site !
    p Découvrez nos services de qualité

  // About Section
  .about
    h2 À propos de notre site de vente en ligne de motos
    p Bienvenue sur notre plateforme spécialisée dans la vente en ligne de motos. Chez nous, nous sommes passionnés par les deux-roues et nous mettons tout en œuvre pour offrir une expérience d'achat exceptionnelle à nos clients. Notre sélection soigneusement choisie de motos répond aux besoins et aux goûts de tous les passionnés de la route. Que vous recherchiez une moto pour les trajets quotidiens, l'aventure tout-terrain ou le plaisir de la vitesse, notre équipe est là pour vous guider à chaque étape de votre parcours. Découvrez notre catalogue, explorez nos offres et trouvez la moto de vos rêves dès aujourd'hui.

  // Services Section
  .services
    h2 Nos Services
    ul
      li Service 1 : Vente de motos neuves
      li Service 2 : Réparation et entretien de motos
      li Service 3 : Accessoires et équipements pour motos

  // Call to Action Section
  .cta
    h2 Intéressé par nos services ?
    p Contactez-nous dès aujourd'hui pour en savoir plus sur ce que nous pouvons faire pour vous.
    a.button(href="/contact") Contactez-nous

  // Footer Section
  footer
    p © 2024 Notre Entreprise. Tous droits réservés.
